<div class="aui_state_lock" style="width: 100%;height: 100%; position: fixed;display: none;color: #666; z-index: 5;">
 <div class="one_img_uplode" style="width: 850px; height: 515px; position: fixed; margin: auto;left: 15%;top:1%;padding:0px;background:#fff;border: 0px none;border-radius: 10px;">

    <div class="upload_head" style="width: 100%;height: 50px;background-color: #f6f6f6;border-radius: 10px;">
       <span id="css" style="float: left; margin: 15px;font-size: 14px;" ><b>图片上传<h1></h1></b></span>
       <a href="javascript:;" onclick="upload_close('.aui_state_lock')" style="float: right;font-size: 35px; margin: 10px; width: 30px;height: 20px; text-decoration: none;" >×</a>
    </div>

 	<iframe id="plupload" src="/admin/index/plupload" name="Open1481852213963" frameborder="0" allowtransparency="true" style="width: 830px; height: 400px;margin: auto;background:#fff;border: 0px none;" ></iframe>

 	<div class="aui_buttons" style="width: 100%;height: 50px;background-color: #f6f6f6;border-radius: 10px;">
 	  <button class="btn" href="#" onclick="upload_close('.aui_state_lock')" type="button" style="float: right;margin: 10px;">返回</button>
	  <button class="btn btn-primary" onclick="img_submit()" style="float: right;margin: 10px;">提交</button>
	  
	</div>
 </div>
</div>






<div class="aui_state_lock_photos" style="width: 100%;height: 100%; position: fixed;display: none;color: #666; z-index: 5;">
 <div class="one_img_uplode" style="width: 850px; height: 515px; position: fixed; margin: auto;left: 15%;top:1%;padding:0px;background:#fff;border: 0px none;border-radius: 10px;">

    <div class="upload_head" style="width: 100%;height: 50px;background-color: #f6f6f6;border-radius: 10px;">
       <span id="css" style="float: left; margin: 15px;font-size: 14px;" ><b>多图片上传<h1></h1></b></span>
       <a href="javascript:;" onclick="upload_close('.aui_state_lock_photos')" style="float: right;font-size: 35px; margin: 10px; width: 30px;height: 20px; text-decoration: none;" >×</a>
    </div>

 	<iframe id="plupload_photos" src="/admin/index/plupload" name="Open1481852213963" frameborder="0" allowtransparency="true" style="width: 830px; height: 400px;margin: auto;background:#fff;border: 0px none;" ></iframe>

 	<div class="aui_buttons" style=" width: 100%;height: 50px;background-color: #f6f6f6;border-radius: 10px;">
 	  <button class="btn" href="#" onclick="upload_close('.aui_state_lock_photos')" type="button" style="float: right;margin: 10px;">返回</button>
	  <button class="btn btn-primary" onclick="img_submit_photos()" style="float: right;margin: 10px;">提交</button>
	  
	</div>
 </div>
</div>





<div class="aui_dialog" style="width: 100%;height: 100%; position: fixed;display: none;color: #666; z-index: 5;">
 <div class="one_img_uplode" style="width: 420px; height: 460px; position: fixed; margin: auto;left: 15%;top:1%;padding:0px;background:#fff;border: 0px none;border-radius: 10px;">

    <div class="upload_head" style="width: 100%;height: 50px;background-color: #f6f6f6;border-radius: 10px;">
       <span id="css" style="float: left; margin: 15px;font-size: 14px;" ><b>图片查看<h1></h1></b></span>
       <a href="javascript:;" onclick="upload_close('.aui_dialog')" style="float: right;font-size: 35px; margin: 10px; width: 30px;height: 20px; text-decoration: none;" >×</a>
    </div>
    <div class="img_attr" style="width: 100%;height: 360px;"><img style="margin:40px;" src="" width="260px" height="200px"/></div>
 	<div class="aui_buttons" style="width: 100%;height: 50px;background-color: #f6f6f6;border-radius: 10px;">
 	  
	</div>
 </div>
</div>