<!DOCTYPE html>
<html>
<head>
	<title></title>
	<include file="Admin:init_css"/>
	<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<include file="Admin:init_js"/>
</head>
<body>
<i class="icon-camera-retro">icon-camera-retro</i> <i class="fa fa-th"></i>
<div class="list-group">
       <a class="list-group-item" href="＃"><i class="fa fa-home fa-fw"></i>  Home</a>
       <a class="list-group-item" href="＃"><i class="fa fa-book fa-fw"></i>  Library</a>
       <a class="list-group-item" href="＃"><i class="fa fa-pencil fa-fw"></i>  Applications</a>
       <a class="list-group-item" href="＃"><i class="fa fa-cog fa-fw"></i>  Settings</a>
   </div>
   <i class="fa fa-spinner fa-spin"></i>
   <i class="fa fa-circle-o-notch fa-spin"></i>
   <i class="fa fa-refresh fa-spin"></i>
   <i class="fa fa-cog fa-spin"></i>
   <i class="fa fa-car"></i>
   <i class="fa fa-car fa-3x"></i>
</body>
</html>