<!DOCTYPE html>
<html>
<head>
<!-- 与首页的一样  重复加载 start -->
<include file="Assis:init_css"/>
<!-- 分页样式 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list_page.css"/>
<!-- 分页样式 -->
</head>
<body>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active">
          <a href="{:U('/Admin/index/leaveWordManage')}">所有留言</a>
        </li>
    </ul>
    <form name="leave_word_list" method="post" class="js-ajax-form" novalidate="novalidate">
      <include file="Assis:leave_word_list_mast"/>  
    </form>
</div>
<include file="Assis:init_js"/>
<script type="text/javascript" src="__PUBLIC__/admin/js/ajaxpost_leave_word.js"></script>
<script>
    	$(function(){
    		data_toggle_tooltip();
    	});
    </script>
</body>
</html>