<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- 与首页的一样  重复加载 start -->
<include file="Assis:init_css"/>
<!-- 与首页的一样  重复加载 end -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/list_page.css"/>
</head>
<body>
<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('/Admin/index/adminUserManage')}">管理员管理</a></li>
			<li><a href="{:U('/Admin/index/adminUserAdd')}">添加管理员</a></li>
		</ul>
		<form class="well form-search" name="sel_admin_user" action="{:U('/Admin/index/adminUserManage')}" method="post">
			用户ID： 
			<input type="text" name="user_id" style="width: 100px;" value="" placeholder="请输入用户ID">
			关键字： 
			<input type="text" name="user" style="width: 200px;" value="" placeholder="用户名/昵称/邮箱">
			<input type="button" onclick="sel_admin_user_list()" class="btn btn-primary" value="搜索">
			<input type="reset" class="btn btn-danger" value="清空">
		</form>
		<form method="post" name="admin_user_list" class="js-ajax-form" novalidate="novalidate">
			<include file="Assis:admin_user_list_mast"/>
		</form>
</div>
<include file="Assis:init_js"/>
<script type="text/javascript" src="__PUBLIC__/admin/js/ajaxpost_admin_user.js"></script>
</body>
</html>